    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: 'Rubik','Noto Sans TC', sans-serif;
        transition: background-color .5s;
    }
    p {
        line-height: 2.5em;
    }
    .titleHello,.title_h1{
            font-family: 'Rubik','Noto Sans TC', sans-serif;
            font-size:45px;
    }
    
    .title_h2 {
        font-size: 35px;
        color: rgb(104, 101, 101);
    }
    .wow { 
        visibility: hidden; 
    }
  /* Hamburger Menu Icon Styles
  --------------------------------------------- */
  #hamburger {
    position: fixed;
    padding: 5px;
    width: 35px;
    height: 45px;
    top: 10px;
    left: 10px;
    font-size:30px;
    cursor:pointer;
    z-index: 2;
  }
  #hamburger:hover {
    background-color: #434747;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    transition-delay: 50ms;
  }
  .hamIcon {
     width: 25px;
     height: 3px;
     background-color: #434747;
     margin: 5px auto;
     text-align: center;
  }
  #hamChar {
     font-size: 10px; 
     color: #434747; 
     line-height: 15px; 
     text-align: center;
  }
  #hamburger:hover .hamIcon{
    background-color: #ffffff;
  }
  #hamburger:hover #hamChar {
    color: #ffffff;
  }
  
  /* Animated Side Navigation Styles
  --------------------------------------------- */
    .side_nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: #4d7777;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 80px;
        
    }
    .side_nav a {
        padding: 20px 8px 8px 20px;
        text-decoration: none;
        font-size: 26px;
        line-height: 2rem;
        color: #b8c2c2;
        display: block;
        transition: 0.3s;
        text-align: left;
        margin-left: 35px;
        position: relative;
    }
        .side_nav a:hover{
            color: #BEC23F;

        }
        .side_nav a:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0%;
            border-bottom: 2px solid #BEC23F;
            transition: 0.4s;
        }
        .side_nav a:hover:after {
            width: 100%;
            }

        
    .offcanvas a:focus{
        color: #BEC23F;
        
    }
    .side_nav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
  /* Main Contents Styles
  --------------------------------------------- */
  #main {
      transition: margin-left .5s;
  }

  /* ----------------------------首頁 */

    #page1 {
        width: 100%;
        color: #ffffff;
        text-align: center;
        height: 600px;
        background: #85b6d1 url(images/page1bg.jpg) no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .pageContainer {
        position: relative;
        top: 20%;
    }
    .black_Board{
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0 15%;
        padding: 2.5em;
    }

    /* ---------------關於我-----------------cx
    */

    #page2 {
        width: 100%;
        background: url(images/page2bg.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    #about{
        display: flex;
        
    }
    .me_info,.myphoto{
        margin: 70px 40px;
        color: rgb(12, 61, 83);
        font-size: 1.3rem;
    }
    .me_info>a{
        text-decoration: none;
        font-size: 1rem;
        display: block;

    }

    .me_info a:visited{
        color: rgb(12, 61, 83);
    }
    .me_info a:hover{
        font-size: 1.4rem;
        transition:  ease-in-out 0.4s ;
    }
    .myphoto{
        margin-left: 100px;
    }
    .myphoto_img{        
        /* height: 100%; */
        width: 100%;
        
    }
  
  
    /* ---------------關於作品 ----------------------*/


    #page3{
        text-align: center;
        width: 100%;
        padding: 6% 0%;
        background: url(images/page3bg.jpg) no-repeat;
        background-size: cover;
        background-position: center center ;
        background-attachment: fixed;
    }
    .project_title{
        font-weight: bolder;
        text-align: center;
        font-size: 35px;
        position: relative;
        top: 5%;
    }
    .wrapper{
        width: 100%;
    }
    
    .page3_projects{
        width: 100%;
        margin: 30px auto;
        padding:0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .project{
        width: 40%;
        margin: 20px auto;
        position: relative;

    }
    .page3_img{
        width: 100%;
        height: 50%;
        
    }

    /* 作品上覆蓋 */
    .project_cover{
        width: 100%;
        height: 100%;
        background-color: rgba(47, 73, 67, 0.562);
        position: absolute;
        top: 0%;
        left: 0;
        margin: 0px auto;
        transition: 0.5s;
        opacity: 0;
    }
    .project_cover:hover{
        opacity: 1;
    }
    .project_cover_p{
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%)translateY(-50%);
    }
/* -----------------------聯絡方式--------------- */

    #page4{
        text-align: center;
        height: 100%;
        background-color: #FFF5B0;
        padding: 5% 0%;
        background: url(images/page4bg.jpg) no-repeat;
        background-size: cover;
        background-position: center center ;
        background-attachment: fixed;
    }
    .page4Container {
        position: relative;
            top: 8%;
            font-weight: bold;
    }
    .normal_contact{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0px;
    }
    .contact_logo{
        width: 80px;
        height: 80px;
        margin: 0 20px;
        font-size: 16px;
    }

    .sns{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px;
    }
    .sns_logo{
        width: 100px;
        height: 100px;
        margin: 0 80px;
    }




    footer {
        background-color: #434747;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        padding: 20px;
    }
  
  




  
    /* -------- Media Queries ------------- */
  
    @media screen and (max-height: 450px) {
        .side_nav {
            padding-top: 15px;
        }
        .side_nav a {
            font-size: 18px;
        }
    }
  
 
    @media (min-width: 648px) and (max-width: 895px) {
        #page1 {
        height: 500px;
        }
    
        .title_h1 {
        font-size: 30px;
        }
        


    }
    @media screen and (max-width: 647px) {
        #page1 {
        height: 400px;
        }
        .title_h1 {
        font-size: 20px;
        }
        footer {
            font-size: 0.8rem;
            padding: 10px;
        }
       
    }
    @media screen and (max-width: 941px) {
        #about{
            width: 100%;
            flex-direction: column;
        }
        
        .me_info,.myphoto{
            width: 80%;
            margin: 40px 70px;
            
            font-size: 1.2rem;
        }
        .myphoto{
            text-align: center;
            
        }
        .myphoto_img{
            width: 60%;
            margin: 0 auto;

        }
        .page3_projects{
            flex-direction: column;
        }
        .project{
            width: 80%;
            margin: 30px auto;
    
        }
        .page3_img{
            height: 80%;
            margin: 0px auto;
        }
        .myphoto{
            margin: 40px auto 20px auto;
        }
        .me_info{
            margin: 20px auto;
            font-size: 1rem;
            text-align: center;
           
        }
        .me_info p{
            line-height: 1.8rem;
        }
        

        .normal_contact{
            flex-direction: column;
            margin-top: 0px;
        }
        .contact_logo{
            width: 40px;
            height: 40px;
            
        }

       
    
      
  }